/** Typhography **/
/*body {
    color: #575a5b;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #575a5b;
}

#text-white {
    color: #ffffff;
}

#logo-code-realm {
    margin: 30px;
}

.ui.button {
    border-radius: 2.285714rem;
}

.ui.basic.button, .ui.basic.buttons .button {
    border-radius: 2.285714rem;
}

.main {
    padding: 20px;
}*/

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}